<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServer">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.11.1:8080/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServer" contract="Service.IServer"
                name="NetTcpBinding_IServer">
                <identity>
                    <userPrincipalName value="DESKTOP-C5B6JK4\Xf13" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>